.aboutBackground {
    @include flex-center;
    @include bkgrd($about-background-mobile);
    width: 100%;
    height: 130px;
    margin-top: 20px;
    @include small-radius;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
        height: 200px;
        @include bkgrd($about-background);
        @include big-radius;  
        background-size: center;
    }
}